@require'./bounce-in-right.styl'
@require'./shake-horizontal.styl'
@require'./slide-out-right.styl'
@require'./fade-out.styl'
@require'./fade-in.styl'



setAnimate($name,$duration,$params=linear,$dir){
    -webkit-animation: $name $duration $params $dir;
	  animation: $name $duration $params $dir;
}