// ======================================================
// COLORS
// ======================================================
// scheme:
// $color-{type}-{state|modifier} = value
$color-default-text = #212126;
$color-default-background = #fff;
$color-text-description = lighten($color-default-text, 70%);
$color-placeholder = lighten($color-default-text, 80%);
$color-background-hover = lighten($color-default-text, 90%);
$color-black = #16161A;
$color-tag = #005AD9;
$color-label-light = #878B99;
$color-white = #fff;
$color-tag--hover = #406aff;
$color-error = #ff543d;

$color-light = {
  dark:#D0D3D8,
  base: #FAFAFB,
  light:#FFFFFF,
}

$color-dark = {
  base: #030235,
  light: #6B6E85,
}

$color-yellow = {
  base: #D9BC22,
  dark:#F4CD48
}

$color-red = {
  base: #D44333,
}

$color-blue = {
  base: #68B5E2,
  dark:#2466C5
}

$color-green = {
  base:#21A453
}

$color-map = {
  yellow: $color-yellow.base,
  blue: $color-blue.base,
}

$color-tree = {
  yellow: $color-yellow,
  blue: $color-blue,
}