$ns = 'y5';

// ======================================================
// BREAKPOINTS
// ======================================================
$breakpoints := {
  xs: 0,
  ms: 25rem,   // 400px
  sm: 48rem,   // 768px
  md: 64rem,   // 1024px
  lg: 80rem,   // 1280px
  xl: 100rem,  // 1600px
}
@import './breakpoints.styl';

// ======================================================
// FONTS
// ======================================================
$font-base = Inter, --apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Verdana, sans-serif;

// if ($use-fonts) import custom fonts
$use-fonts = true;
@import './fonts.styl';

// $font-size-{size}
$font-size = 16px;
$font-size-small-s = 10px;
$font-size-small = 12px;
$font-size-base-s = 13px;
$font-size-base = 14px;
$font-size-medium-s = 16px;
$font-size-medium = 18px;
$font-size-big = 20px;
$font-size-big-x = 22px;
$font-size-large = 24px;
$font-size-large-x = 28px;
$font-size-large-xx = 38px;
$font-size-largest = 40px;
$font-size-largest-x = 60px;
$font-size-largest-xx = 80px;

// $line-height-{size}
$line-height-small-s = 14px;
$line-height-small = 16px;
$line-height-base = 20px;
$line-height-medium = 25px;
$line-height-big = 30px;
$line-height-large = 35px;
$line-height-large-x = 50px;

@import './colors.styl';
// themes
$theme-dark = {
  base: $color-dark.base,
  contrast: $color-light.base,
}

$theme-light = {
  base: $color-light.base,
  contrast: $color-dark.base,
  lightest:$color-light.light
  danger:$color-red.base
  success:$color-green.base
  warning:$color-yellow.base
}


// other
$border-radius-base = 12px;
$border-radius-big = 20px;
$border-radius-small = 6px;

// ======================================================
// LAYOUT SETTINGS
// ======================================================
$gutter = 1rem;
$container-max = 90rem;
$header-height = 70px;