fontPathsExtended($name,$font){

  src: 
      url($fonts-path+$name+'/'+$font+'.ttf') format("truetype"),
      url($fonts-path+$name+'/'+$font+'.eot#iefix') format("embedded-opentype"),
       url($fonts-path+$name+'/'+$font+'.woff') format("woff"),
      //  url($fonts-path+$name+'/'+$font+'.woff2') format("woff2"),
       
}

fontPaths($name,$font){
  src: url($fonts-path+$name+'/'+$font+'.ttf') format("truetype");
}


useFont($myFont){
        for key, $font in $myFont {
        @font-face {
          font-family: unquote($font.name);
          if $use-fonts-extended {
            fontPathsExtended($font.name,$font.file);
          } else {
            fontPaths($font.name,$font.file);
          }
          font-weight: $font.weight;
          font-style: $font.style;
        }
      }
}

setFont($weight,$style,$font-size=24px,$line-height=inherit,$nameFont=inherit){
    font-family:unquote($nameFont)
    font-weight:$weight
    font-style:$style
    font-size:$font-size
    line-height:$line-height
}