@require '~@/assets/stylus/mixins/flex.styl';
@require '~@/assets/stylus/mixins/size.styl';
@require '~@/assets/stylus/mixins/fonts.styl';
generateDefault($name)
  .{$name}
    size(100%,100%)
    &__name
      setFont(500,normal,15px)
      margin-bottom 8px
      text-transform: capitalize
    &__input
      outline none
      border none
      size(100%,100%)
    &__wrapper
      flexy(space-between,center)
      border: 2px solid
      border-radius: 12px;
      padding 16px 20px
      cursor text
      opacity 0.16
      transition all 0.7s
    &__notify
      setFont(400,normal,14px)
      text-transform: capitalize
      margin-top 5px
      &_icon
        flexy(center,center)
        size(22px,22px)
        padding 3px
        border: 2px solid
        border-radius 100%
        transition all 0.7s
    &.focused
      .{$name}__wrapper
        opacity 1

setTheme($name,$theme)
  $states="danger","success","warning"

  for state in $states
    &.{state}
      &.focused
        .{$name}
          &__wrapper
            border-color $theme.base[state]
          &__notify
            &_icon
              color:$theme.base[state]
      .{$name}
        &__wrapper
          border-color lighten($theme.base[state],30)
          opacity 1
        &__notify
          color:$theme.base[state]
          &_icon
            color:lighten($theme.base[state],30)
            svg
              color:$theme.base[state]
              fill $theme.base[state]
              stroke $theme.base[state]
  .{$name}
    &__name
      color:$theme.optional.header-color
    &__wrapper
      border-color $theme.base.contrast
    &__notify
      color:darken($theme.base.base,30)

  



  
