@require '~@/assets/stylus/vars/variables';

.{$ns}-btn-icon {
  $base-btn-icon-margin = 5px;

  &--left {
    margin-right: $base-btn-icon-margin;
  }

  &--right {
    margin-left: $base-btn-icon-margin;
  }

  &--top {
    margin-bottom: $base-btn-icon-margin;
  }

  &--bottom {
    margin-top: $base-btn-icon-margin;
  }
}