@require '~@/assets/stylus/mixins/flex.styl';
@require '~@/assets/stylus/mixins/size.styl';
@require '~@/assets/stylus/mixins/fonts.styl';
@require '~@/assets/stylus/animation/animations.styl';

generateDefault($name)
  .{$name}
    &__icon
      size(10px,5px)
      cursor pointer




  



  
